/*reset*/
*{margin:0px; padding:0px;}

ul{list-style:none;}

a{color:#f3f0ee; text-decoration: none;}

h2{color:#f3f0ee;}

h3{color:#f3f0ee;}

p{color:#f3f0ee;}

body{background-color: #0e1316; }





/*-------------모바일버전---------*/
@media(max-width:768px){

.progress {width:100vw; height: 100vh; background: #0e1316;; color: #fff; position: fixed; top: 0; left: 0; z-index: 1000; }

.progress_bar {border-top: 2px solid #fff;	position: absolute;	top: 50%; width: 0%;}

.progress_text {font-size: 28px; margin-top: 1%; position: absolute; text-align: center; top: 50%; width: 100%;}

.progress.on{top:-200%; transition: 0.5s; transition-delay: 2.5s;}


/* .progress_bar.on1{transition-delay: 3; border-top-color: #fff;} */

/* .progress_complete .progress-bar {border-top-color: #fff;} */





/*header*/
header{width:100%; height:90px; display: flex; justify-content: space-between; align-items: center; padding:10px 30px 10px 15px; box-sizing:border-box; position: fixed; z-index: 91;}

header h1{transition: 5s;}

header h1.on{display: none;}

header img{width:46px;}


header .menu_button{width:35px; height:35px; position: absolute; right:30px; top:30px; }

header .menu_button span{width:100%; height:100%; position: relative; display: block; cursor: pointer; }

header .menu_button span::before, header .menu_button span::after{content: ""; width:33px; height:4px; position: absolute; background-color: #616669; transform: translate(-50%, -50%); transition: 0.2s;}

header .menu_button span::before{left: 50%; top:10px; }

header .menu_button span::after{left: 50%;top:22px;}

header .menu_button span:hover::before{background-color:#f3f0ee;  top:50%; transform:translate(-50%) rotate(-45deg); }

header .menu_button span:hover::after{background-color:#f3f0ee; top:50%; transform:translate(-50%) rotate(45deg);}

header .menu_button span::before.on{transform: rotate(45deg);}



/*------.front_menu-----*/
header .front_menu{display:none;}

/*--------back_menu-------*/
.back_menu{width:100%; height:100vh; position: fixed; display: flex; align-items: center; justify-content: center; z-index: 90; background-color: #044043; left:100%; transition: 0.5s;}

.back_menu.on{left:0;}

/* .back_menu::before, .back_menu::after{content: ""; width:100%; height:50%; position: absolute; background-color: #616669;}

.back_menu::before{left:100%; top:0;}

.back_menu::after{left:100%; top:50%;}

.back_menu::before.on{left:0;}

.back_menu::after.on{left:0;} */

.back_menu ul{width:80vw; height:80vw; text-align: center; line-height: 16vw; z-index: 91;}

.back_menu li{font-size: 9vw; font-weight: 700;}

.back_menu li a{width:100%; height:100%; display: block;}


/*--------container---------*/
#container{width:100%; overflow: hidden;}

#container .home{width:100%; height:100vh;}

#container .home_txt{position:absolute; left:50vw; top:53vh; color:#f3f0ee; transform: translate(-50%, -50%);  z-index: 6; font-family: "Work Sans", sans-serif;}

#container .home h2:nth-child(1){font-size:12vw;}

#container .home h2:nth-child(2){font-size:15.5vw; margin:-1vh;}

#container .home h3{font-size:2.2vw;}



/*----------이미지----------*/

/*--------grow_img1--------*/
.grow_img1{position:absolute; left:30vw; top:40vh; transform: translate(-50%, -50%);}

.grow_img1 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden; transition: 0.5s;}

.grow_img1 div:nth-child(1){width:0vw; height:0vw; left:0vw; top:0vw; z-index: 5;}

.grow_img1 div:nth-child(2){width:0vw; height:0vw; left:23vw; top:17vw;  z-index: 4;}

.grow_img1 div:nth-child(3){width:0vw; height:0vw; left:42vw; top:6.5vw;  z-index: 3;}

.grow_img1 div:nth-child(4){width:0vw; height:0vw; left:31vw; top:-20vw;  z-index: 3;}


/*-----------제이쿼리 grow--------*/
.grow_img1 div:nth-child(1).grow{width:35vw; height:35vw;}

.grow_img1 div:nth-child(2).grow{width:28vw; height:33vw;}

.grow_img1 div:nth-child(3).grow{width:21vw; height:27vw;}

.grow_img1 div:nth-child(4).grow{width:15vw; height:18vw;}





.grow_img1 img{width:100%; height:100%;}

.grow_img1 img.on{transform: scale(1.2); transition: 2s;}




/*--------grow_img2--------*/
.grow_img2{ position:absolute; left:62vw; top:25vh; transform: translate(-50%, -50%);}

.grow_img2 div{ position:absolute; transform: translate(-50%, -50%); overflow: hidden; transition: 0.5s;}

.grow_img2 div:nth-child(1){width:0vw; height:0vw; left:9vw; top:15vw; z-index: 5;}

.grow_img2 div:nth-child(2){width:0vw; height:0vw; left:0vw; top:0vw;  z-index: 3;}

.grow_img2 div:nth-child(3){width:0vw;height:0vw; left:17vw; top:7vw;  z-index: 4;}


/*-----------제이쿼리 grow--------*/
.grow_img2 div:nth-child(1).grow{width:20vw; height:25vw;}

.grow_img2 div:nth-child(2).grow{width:20vw; height:22vw;}

.grow_img2 div:nth-child(3).grow{width:23vw; height:20vw;}



.grow_img2 img{width:100%; height:100%;}

.grow_img2 img.on{transform: scale(1.2); transition: 2s;}




/*--------grow_img3--------*/
.grow_img3{position:absolute; left:20vw; top:25vh; transform: translate(-50%, -50%); }

.grow_img3 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden; transition: 0.5s;}

.grow_img3 div:nth-child(1){width:0vw; height:0vw; left:9vw; top:13vw; z-index: 5;}

.grow_img3 div:nth-child(2){width:0vw; height:0vw; left:0vw; top:0vw;  z-index: 3;}

.grow_img3 div:nth-child(3){width:0vw; height:0vw; left:18vw; top:4vw;  z-index: 4;}


/*-----------제이쿼리 grow--------*/
.grow_img3 div:nth-child(1).grow{width:22vw; height:27vw;}

.grow_img3 div:nth-child(2).grow{width:23vw; height:27vw;}

.grow_img3 div:nth-child(3).grow{width:25vw; height:21vw;}


.grow_img3 img{width:100%; height:100%;}

.grow_img3 img.on{transform: scale(1.2); transition: 2s;}




/*--------grow_img4--------*/
.grow_img4{position:absolute; left:87vw; top:71vh; transform: translate(-50%, -50%);}

.grow_img4 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden; transition: 0.5s;}

.grow_img4 div:nth-child(1){width:0vw; height:0vw; left:-7vw; top:15vw; z-index: 5;}

.grow_img4 div:nth-child(2){width:0vw;height:0vw; left:-19vw; top:0vw;  z-index: 3;}



/*-----------제이쿼리 grow--------*/
.grow_img4 div:nth-child(1).grow{width:25vw; height:30vw;}

.grow_img4 div:nth-child(2).grow{width:26vw; height:30vw;}


.grow_img4 img{width:100%; height:100%;}

.grow_img4 img.on{transform: scale(1.2); transition: 2s;}





/*------------about부분------------*/

.about{width:90%; height:100%;  box-sizing: border-box; display: flex; align-items: center; margin: auto;} 

.about_wrap{width:100%; height: 100%; margin: auto; opacity: 0; transition: 1.8s;}

.about_wrap h2{font-size:45px; text-align: center; margin-bottom: 30px;}

.about_wrap.show{opacity: 1;}


/*-----about이미지부분----*/

.about_img{width:100%; transform: translateX(-100px); opacity: 0; transition:1.8s; margin: auto;}

.about_img.show{opacity: 1; transform: translateX(0px);}

.about_img div{width:100%; height:420px; max-width: 370px;  margin: auto;}

.about_img img{width:100%; height: 100%; object-fit: cover;}



/*-------about정보부분-------*/
.about_information{width:100%;  transform: translateX(100px); opacity: 0; transition: 1.8s; margin: auto; }

.about_information.show{opacity: 1; transform: translateX(0px);}

/* .about_information > div{width:calc(100% / 2); } */

.about_information h3{margin:50px 0px 20px;  font-size:34px;}

.about_profile{width:100%; text-align: center;}

.about_profile p{line-height: 35px;}


.about_education{width:100%; text-align: center;}

.about_education > div{display:flex; margin:10px 0px; justify-content: center;}

.about_year{width:60px; height:25px; line-height: 25px; text-align: center; border:1px solid #616669; color:#f3f0ee;border-radius:20px; margin-right:5px;}



.about_license{width:100%; text-align: center;}

.about_license p{line-height:35px;}


.about_skill{width:100%; text-align: center;}

.about_skill ul{width:100%;  display:flex; gap:15px; flex-wrap: wrap; justify-content: center;}

.about_skill li{text-align: center;}

.about_skill li span{height:30px; line-height:30px; color:#f3f0ee; border:1px solid #f3f0ee; padding:0px 20px; border-radius:20px; display: inline-block;}



/*---------work벨트부분----------*/
.work_belt_wrap{width:4000px; margin:100px 0px; transform:translateX(-20%);}

.work_belt1{width:100%;}

.work_belt1 span{font-size:22vw; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.work_belt2{width:100%;}

.work_belt2 span{font-size:22vw; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.work_belt_line{margin:0px 40px;}






/*---------illust벨트부분----------*/
.illust_belt_wrap{width:4000px; margin:100px 0px; transform:translateX(-15%);}

.illust_belt1{width:100%;}

.illust_belt1 span{font-size:22vw; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.illust_belt2{width:100%;}

.illust_belt2 span{font-size:22vw; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.illust_belt_line{margin:0px 40px;}






/*----------work부분-------*/
.work{width:90%; height:115vw; align-items: center; display: flex; margin: auto; position: relative; padding:40px 0px; opacity: 0; transition: 2s; transform: translateY(-10%);}

.work ul{width:100%; height:100%;}

.work.show{opacity:1; transform: translateY(0);}

/*-------------원모양텍스트---------*/
.work .circle_txt{width:90vw; height:90vw;position:absolute; left:49%; top:52%; transform:translate(-50%, -50%); z-index: -1;}

.work .circle_txt img{width:100%; height:100%; animation: rot_txt 40s 0s linear infinite; transform-origin: 50% 50%;}

@keyframes rot_txt {
    100%{transform: rotate(360deg);}
}



/*--------텍스트-------*/
.work_txtwrap{width:100%; text-align: center;}

.work_txtwrap h2{ max-width: 330px; font-size:63px; letter-spacing:4px; line-height:42px; font-family: "Gabriela", serif; font-style: italic; margin: auto;}

.work_txtwrap h2 span{font-size: 30px;}

.work_explan{width:100%; line-height: 22px; margin-top:20px; color:#fff;}

.work_explan p{max-width:330px; font-size:14px; margin: auto; margin-top:7px;}

.work_box{display:flex; gap:15px; margin-top:30px; justify-content: center;}

.work_box div{width:12vw; height:5vw; line-height:5vw; border:2px solid #616669; text-align: center; }

.work_box div a{width:100%; height:100%; display:block; font-size: 2.3vw;}


/*-----------목업---------*/
.work_mok{width:100%; margin: auto; margin-top:20px;}

.work_mok div{width:100%;  overflow: hidden;}

.work_mok div img{width:100%; height:100%; object-fit: cover;}





/*-------------일러스트------------*/
#illust{width:90vw;  padding:70px 0px; box-sizing: border-box; margin: auto; text-align: center;} 

#illust span{color:#f3f0ee; font-size: 10vw; font-weight:600;}

.illust_wrap{width:100%; margin: auto;}

#illust ul{width:100%; display: flex; justify-content: space-between; gap:20px;  margin:30px auto; flex-wrap: wrap;}

#illust li{width:100%; height:300px; cursor: pointer; margin-top: 10px;}

#illust li .imgBox{width:100%; height: 100%; object-fit: cover; position: relative; overflow: hidden;}

.imgBox::before{content: ""; width:100%; height: 100%; background-color: #0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; transition-delay: 0.4s; z-index: 2;}

.imgBox::after{content: ""; width:100%; height: 100%; background-color:#0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; z-index: 3;}

.imgBox.active::before{height: 0;}

.imgBox.active::after{height: 0;}

#illust li img{width: 100%; height:100%;}





/*----------자바스크립트 페이지--------*/
#javascript{width:100%; padding:50px 0px; margin-top:150px;}

#javascript .javascript_Wrap{width:95%; margin: auto; }

.javascript_Wrap .title{color:#f3f0ee; font-size: 32px; text-align: center; font-weight:550;}


.javascript_Wrap .javascript_Inner{width:100%;  }

.javascript_Inner .item{width:100%; position: relative; transform: translateY(80px); transition: 0.8s; opacity: 0; overflow: hidden; margin-top:20px;}

.javascript_Inner .item.on{transform: translateY(0px); opacity: 1;}

.javascript_Inner .item .js_Img{width:100%;}

.javascript_Inner .item .js_Img img{width:100%;}

.javascript_Inner .item .item_Bg{width:100%; height:100%; position: absolute; background-color: rgba(0,0,0,0.5); left:0px; top:0px; margin-top:100%; transition: 0.6s;}

.javascript_Inner .item .item_Bg .js_TxtWrap{position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); text-align: center;}


.js_TxtWrap .js_Txt{font-size: 14px; color:#fff; max-width: 250px;}

.js_TxtWrap .item_Box{width:100px; height:30px; line-height: 30px; margin: auto; border:1.3px solid #fff; margin-top:15px; font-size: 13.5px;} 

.js_TxtWrap .item_Box a{width:100%; height:100%; display: block; position: relative; transition: 0.5s;}



.javascript_Inner .item:hover .item_Bg{margin-top:0px;}

.js_TxtWrap .item_Box a:hover{background-color: #b19912; }





/*----------------콘텍트-------------*/
#contact{width:100%; height:700px; position:relative; color:#f3f0ee;}

.contact_txt1{width:100%; font-size: 15vw; font-weight:700; text-align: center; padding-top: 100px;}

#contact ul{width:100%; display: flex; position: absolute; bottom: 0px; justify-content: space-between; padding:0px 30px 10px; box-sizing: border-box;}

#contact ul li{font-size: 2.4vw; align-items: center;}

#contact ul li:nth-child(2){display:flex;}

#contact ul li:nth-child(3){display:flex; gap:25px;}

}






/*-----------테블릿버전---------*/
@media(min-width:769px) and (max-width:1200px){

.progress {width:100vw; height: 100vh; background: #0e1316;; color: #fff; position: fixed; top: 0; left: 0; z-index: 1000; }

.progress_bar {border-top: 2px solid #fff;	position: absolute;	top: 50%; width: 0%;}

.progress_text {font-size: 28px; margin-top: 1%; position: absolute; text-align: center; top: 50%; width: 100%;}

.progress.on{top:-200%; transition: 0.5s; transition-delay: 2.5s;}


/* .progress_bar.on1{transition-delay: 3; border-top-color: #fff;} */

/* .progress_complete .progress-bar {border-top-color: #fff;} */



/*header*/
header{width:100%; height:90px; display: flex; justify-content: space-between; align-items: center; padding:10px 30px 10px 15px; box-sizing:border-box; position: fixed; z-index: 99;}

header ul{display:flex; gap:45px;}

header a{font-size:1.2rem;}



/*----------menu_button---------*/
.menu_button{display:none;}

/*----------back_menu---------*/
.back_menu{display: none;}
    


/*--------container---------*/
#container{width:100%; overflow: hidden;}

#container .home{width:100%; height:100vh;}

#container .home_txt{position:absolute; left:5vw; bottom:25vh; color:#f3f0ee;  z-index: 6; font-family: "Work Sans", sans-serif;}

#container .home h2:nth-child(1){font-size:5.8rem;}

#container .home h2:nth-child(2){font-size:7.8rem; margin:-1vh;}



/*----------이미지----------*/

/*--------grow_img1--------*/
.grow_img1{position:absolute; left:40vw; top:40vh; transform: translate(-50%, -50%);}

.grow_img1 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img1 div:nth-child(1){width:380px; height:420px; left:0px; top:0px; z-index: 5;}

.grow_img1 div:nth-child(2){width:300px; height:360px; left:250px; top:250px;  z-index: 4;}

.grow_img1 div:nth-child(3){width:200px; height:280px; left:450px; top:130px;  z-index: 3;}

.grow_img1 div:nth-child(4){width:160px; height:200px; left:320px; top:-150px;  z-index: 3;}

.grow_img1 img{width:100%; height:100%;}

.grow_img1 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img2--------*/
.grow_img2{position:absolute; left:62vw; top:25vh; transform: translate(-50%, -50%); }

.grow_img2 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img2 div:nth-child(1){width:0px; height:0px; left:100px; top:150px; z-index: 5;}

.grow_img2 div:nth-child(2){width:0px; height:0px; left:0px; top:0px;  z-index: 3;}

.grow_img2 div:nth-child(3){width:0px; height:0px; left:170px; top:60px;  z-index: 4;}

.grow_img2 img{width:100%; height:100%;}

.grow_img2 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img3--------*/
.grow_img3{position:absolute; left:20vw; top:25vh; transform: translate(-50%, -50%); }

.grow_img3 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img3 div:nth-child(1){width:0px; height:0px; left:80px; top:130px; z-index: 5;}

.grow_img3 div:nth-child(2){width:0px; height:0px; left:0px; top:0px;  z-index: 3;}

.grow_img3 div:nth-child(3){width:0px; height:0px; left:170px; top:40px;  z-index: 4;}

.grow_img3 img{width:100%; height:100%;}

.grow_img3 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img4--------*/
.grow_img4{position:absolute; left:96vw; bottom:35vh; transform: translate(-50%, -50%);}

.grow_img4 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img4 div:nth-child(1){width:0px; height:0px; left:-70px; top:130px; z-index: 5;}

.grow_img4 div:nth-child(2){width:0px; height:0px; left:-170px; top:0px;  z-index: 3;}

.grow_img4 img{width:100%; height:100%;}

.grow_img4 img.on{transform: scale(1.2); transition: 2.3s;}




/*------------about부분------------*/

.about{width:95%; height:700px;   box-sizing: border-box; display: flex; align-items: center; margin: auto;} 

.about_wrap{width:100%; height: 100%; margin: auto; opacity: 0; transition: 1.8s; }

.about_wrap.show{opacity: 1;}


/*-----about이미지부분----*/
.about h2{font-size:5vw; margin-left:20px;}

.about_wrap_direct{display:flex; gap:40px; margin-top:20px;} 


.about_img{width:calc(30% - 20px);  transform: translateX(-100px); opacity: 0; transition:1.8s;}

.about_img.show{opacity: 1; transform: translateX(0px);}

.about_img div{width:100%; height:45vw;  }

.about_img img{width:100%;}


/*-------about정보부분-------*/
.about_information{width:calc(70% - 20px); display:flex;  flex-wrap:wrap; transform: translateX(100px); opacity: 0; transition: 1.8s;}

.about_information.show{opacity: 1; transform: translateX(0px);}

/* .about_information > div{width:calc(100% / 2); } */

.about_information h3{font-size:3.5vw; margin-bottom: 10px;}

.about_information p{font-size:1.4vw;}

.about_profile{width:45%;}

.about_profile p{line-height: 35px;}


.about_education{width:55%; padding-left:10px; box-sizing: border-box;}

.about_education > div{display:flex; gap:10px; margin-bottom: 10px;}

.about_year{width:5.5vw; height:2.3vw; line-height: 2.3vw; font-size: 1.3vw; text-align: center; border:1px solid #616669; color:#f3f0ee;border-radius:20px;}

.about_education p{ width:100%; }


.about_license{width:45%;}

.about_license p{font-size:1.3vw; line-height:35px;}


.about_skill{width:55%; padding-left:10px; box-sizing: border-box;}

.about_skill ul{width:100%;  display:flex; gap:15px; flex-wrap: wrap;}

.about_skill li{ height:3vw; line-height:3vw; text-align: center; }

.about_skill li span{ color:#f3f0ee; border:1px solid #f3f0ee; padding:0px 1.8vw; font-size: 1.3vw; border-radius:20px; display: inline-block;}



/*---------work벨트부분----------*/
.work_belt_wrap{width:6000px; margin:100px 0px; transform: translateX(-20%);}

.work_belt1{width:100%;}

.work_belt1 span{font-size:15vw; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.work_belt2{width:100%;}

.work_belt2 span{font-size:15vw; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.work_belt_line{margin:0px 40px;}



/*---------illust벨트부분----------*/
.illust_belt_wrap{width:6000px; margin:100px 0px; transform: translateX(-20%);}

.illust_belt1{width:100%;}

.illust_belt1 span{font-size:15vw; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.illust_belt2{width:100%;}

.illust_belt2 span{font-size:15vw; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.illust_belt_line{margin:0px 40px;}






/*----------work부분-------*/
.work{width:100%; height:800px; align-items: center; display: flex; justify-content: center; position: relative; opacity: 0; transition: 2s; transform: translateY(-10%);}

.work ul{width:100%; display:flex;}

.work li{height:700px;}

.work.show{opacity: 1; transform: translateY(0);}



/*-------------원모양텍스트---------*/
.work .circle_txt{width:60vw; height:60vw;position:absolute; left:50%; top:52%; transform:translate(-50%, -50%); z-index: -1;}

.work .circle_txt img{width:100%; height:100%; animation: rot_txt 40s 0s linear infinite; transform-origin: 50% 50%;}

@keyframes rot_txt {
    100%{transform: rotate(360deg);}
}



/*--------텍스트-------*/
.work_txtwrap{width:40%; padding:30px 0px 0px 70px; box-sizing: border-box; position: relative; opacity: 0; transition: 2s; transform: translateY(-10%); }

.work_txtwrap.show{opacity: 1; transform: translateY(0%);}

.work_txtwrap h2{font-size:85px; letter-spacing:4px; line-height:50px; position: absolute;  top:5.5vw;}

.work_txtwrap h2 span{font-size: 40px;}

.work_explan{position: absolute; top:370px; line-height:26px; color:#fff;}

.work_explan p{font-size:1.5vw;  margin-top:7px; letter-spacing: -1px;}

.work_box{display:flex; gap:15px; margin-top:30px;}

.work_box div{width:8vw; height:3.3vw; line-height:3.3vw; border:2px solid #616669; text-align: center; position: relative; overflow: hidden; font-size:1.3vw;}


.work_box div::before{content:""; width:100%; height:200%; background-color: #f3f0ee; position: absolute; left: 0px; top:40px; border-radius: 40%;}

.work_box div a{width:100%; height:100%; display:block;}


/*-----------목업---------*/
.work_mok{width:60%; opacity: 0; transition: 2s; transform: translateY(-10%); transition-delay: 0.5s; display: flex; align-items: center;}

.work_mok div{width:100%; margin: auto;}

.work_mok div img{width:100%; height:100%; object-fit: cover;}

.work_mok.show{opacity: 1; transform: translateY(0);}




/*-------------일러스트------------*/
#illust{width:90%; height:100%; padding:70px 0px; margin:auto; box-sizing: border-box;}

#illust span{color:#f3f0ee; font-size: 4rem; font-weight:600;}

.illust_wrap{width:100%; margin: auto;}

#illust ul{width:100%; display: flex; justify-content: space-between; gap:20px;  margin:50px auto; flex-wrap: wrap;}

#illust li{width:calc(100% / 2 - 10px); height:300px; cursor: pointer;}

#illust li .imgBox{width:100%; height: 100%; object-fit: cover; position: relative; overflow: hidden;}

.imgBox::before{content: ""; width:100%; height: 100%; background-color: #0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; transition-delay: 0.4s; z-index: 2;}

.imgBox::after{content: ""; width:100%; height: 100%; background-color:#0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; z-index: 3;}

.imgBox.active::before{height: 0;}

.imgBox.active::after{height: 0;}

#illust li img{width: 100%; height:100%;}





/*----------자바스크립트 페이지--------*/
#javascript{width:100%; padding:50px 0px; margin-top:150px;}

#javascript .javascript_Wrap{width:95%; margin: auto; }

.javascript_Wrap .title{color:#f3f0ee; font-size: 3.5rem; font-weight:550;}


.javascript_Wrap .javascript_Inner{width:100%; display: flex; gap:30px; margin-top:20px;}

.javascript_Inner .item{width:calc(100% / 2 - 15px); position: relative; transform: translateY(80px); transition: 0.8s; opacity: 0; overflow: hidden;}

.javascript_Inner .item.on{transform: translateY(0px); opacity: 1;}

.javascript_Inner .item .js_Img{width:100%;}

.javascript_Inner .item .js_Img img{width:100%;}

.javascript_Inner .item .item_Bg{width:100%; height:100%; position: absolute; background-color: rgba(0,0,0,0.5); left:0px; top:0px; margin-top:100%; transition: 0.6s;}

.javascript_Inner .item .item_Bg .js_TxtWrap{position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); text-align: center;}


.js_TxtWrap .js_Txt{font-size: 18px; color:#fff; max-width: 250px;}

.js_TxtWrap .item_Box{width:100px; height:30px; line-height: 30px; margin: auto; border:1.3px solid #fff; margin-top:15px; font-size: 15px;} 

.js_TxtWrap .item_Box a{width:100%; height:100%; display: block; position: relative; transition: 0.5s;}



.javascript_Inner .item:hover .item_Bg{margin-top:0px;}

.js_TxtWrap .item_Box a:hover{background-color: #b19912; }







/*----------------콘텍트-------------*/
#contact{width:100%; height:100vh; position:relative; color:#f3f0ee;}

.contact_txt1{width:100%; font-size: 8.8rem; font-weight:700; text-align: center; padding-top: 100px;}

#contact ul{width:100%; display: flex; position: absolute; bottom: 0px; justify-content: space-between; padding:0px 30px 10px; box-sizing: border-box;}

#contact ul li{font-size: 1.2rem; align-items: center;}

#contact ul li:nth-child(2){display:flex;}

#contact ul li:nth-child(3){display:flex; gap:25px;}

}




/*--------------pc버전---------*/
@media(min-width:1200px){

.progress {width:100vw; height: 100vh; background: #0e1316;; color: #fff; position: fixed; top: 0; left: 0; z-index: 1000; }

.progress_bar {border-top: 2px solid #fff;	position: absolute;	top: 50%; width: 0%;}

.progress_text {font-size: 28px; margin-top: 1%; position: absolute; text-align: center; top: 50%; width: 100%;}

.progress.on{top:-200%; transition: 0.5s; transition-delay: 2.5s;}


/* .progress_bar.on1{transition-delay: 3; border-top-color: #fff;} */

/* .progress_complete .progress-bar {border-top-color: #fff;} */




/*-------------navi---------*/
/* #navi{position:absolute; top:50%; right:20px; position: fixed; transform: translateY(-50%); z-index: 99;}

#navi li{width:15px; height:40px; background-color: #616669; margin-bottom:10px; } */

/* #navi li:first-child{background-color:blue;} */

/* #navi li span{position:absolute; left:10px; display: none;}

#navi .on{background-color: blue;} */





/*header*/
header{width:100%; height:90px; display: flex; justify-content: space-between; align-items: center; padding:10px 30px 10px 15px; box-sizing:border-box; position: fixed; z-index: 99;}

header .front_menu{display:flex; gap:45px;}

header a{font-size:1.2rem;}

header .menu_button{display:none;}

.back_menu{display: none;}


/*--------container---------*/
#container{width:100%; overflow: hidden;}

#container .home{width:100%; height:100vh;}

#container .home_txt{position:absolute; left:5vw; bottom:20vh; color:#f3f0ee;  z-index: 6; font-family: "Work Sans", sans-serif;}

#container .home h2:nth-child(1){font-size:8.5rem;}

#container .home h2:nth-child(2){font-size:10.5rem; margin:-1vh;}



/*----------이미지----------*/

/*--------grow_img1--------*/
.grow_img1{position:absolute; left:40vw; top:40vh; transform: translate(-50%, -50%);}

.grow_img1 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img1 div:nth-child(1){width:380px; height:420px; left:0px; top:0px; z-index: 5;}

.grow_img1 div:nth-child(2){width:300px; height:360px; left:250px; top:250px;  z-index: 4;}

.grow_img1 div:nth-child(3){width:200px; height:280px; left:450px; top:130px;  z-index: 3;}

.grow_img1 div:nth-child(4){width:160px; height:200px; left:320px; top:-150px;  z-index: 3;}

.grow_img1 img{width:100%; height:100%;}

.grow_img1 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img2--------*/
.grow_img2{position:absolute; left:62vw; top:25vh; transform: translate(-50%, -50%); }

.grow_img2 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img2 div:nth-child(1){width:0px; height:0px; left:100px; top:150px; z-index: 5;}

.grow_img2 div:nth-child(2){width:0px; height:0px; left:0px; top:0px;  z-index: 3;}

.grow_img2 div:nth-child(3){width:0px; height:0px; left:170px; top:60px;  z-index: 4;}

.grow_img2 img{width:100%; height:100%;}

.grow_img2 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img3--------*/
.grow_img3{position:absolute; left:20vw; top:25vh; transform: translate(-50%, -50%); }

.grow_img3 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img3 div:nth-child(1){width:0px; height:0px; left:80px; top:130px; z-index: 5;}

.grow_img3 div:nth-child(2){width:0px; height:0px; left:0px; top:0px;  z-index: 3;}

.grow_img3 div:nth-child(3){width:0px; height:0px; left:170px; top:40px;  z-index: 4;}

.grow_img3 img{width:100%; height:100%;}

.grow_img3 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img4--------*/
.grow_img4{position:absolute; left:96vw; bottom:35vh; transform: translate(-50%, -50%);}

.grow_img4 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img4 div:nth-child(1){width:0px; height:0px; left:-70px; top:130px; z-index: 5;}

.grow_img4 div:nth-child(2){width:0px; height:0px; left:-170px; top:0px;  z-index: 3;}

.grow_img4 img{width:100%; height:100%;}

.grow_img4 img.on{transform: scale(1.2); transition: 2.3s;}




/*------------about부분------------*/

.about{width:100%; height:100vh;   box-sizing: border-box; display: flex; align-items: center;} 

.about_wrap{width:1190px; height: 720px; margin: auto; opacity: 0; transition: 1.8s;}

.about_wrap.show{opacity: 1;}


/*-----about이미지부분----*/
.about h2{font-size:3.5rem; margin-left:20px;}

.about_wrap_direct{display:flex; gap:40px; margin-top:20px;} 


.about_img{width:calc(30% - 20px); transform: translateX(-100px); opacity: 0; transition:1.8s; display: flex; }

.about_img.show{opacity: 1; transform: translateX(0px);}

.about_img div{width:300px; margin:auto;}

.about_img div img{width:100%; object-fit: cover;}


/*-------about정보부분-------*/
.about_information{width:calc(70% - 20px); display:flex; flex-wrap:wrap; transform: translateX(100px); opacity: 0; transition: 1.8s;}

.about_information.show{opacity: 1; transform: translateX(0px);}

/* .about_information > div{width:calc(100% / 2); } */

.about_information h3{margin:50px 0px 20px;  font-size:2.3rem;}

.about_profile{width:45%;}

.about_profile p{line-height: 35px;}


.about_education{width:55%;}

.about_education > div{display:flex; margin:10px 0px; align-items: center;}

.about_year{height:28px; line-height: 28px; text-align: center; border:1px solid #616669; color:#f3f0ee;border-radius:20px; margin-right:10px; padding:0px 16px;}

.about_education p{font-size: 15.5px;}


.about_license{width:45%;}

.about_license p{line-height:35px;}


.about_skill{width:55%;}

.about_skill ul{width:100%;  display:flex; gap:15px; flex-wrap: wrap;}

.about_skill li{text-align: center;}

.about_skill li span{height:30px; line-height:30px; color:#f3f0ee; border:1px solid #f3f0ee; padding:0px 20px; border-radius:20px; display: inline-block;}



/*---------work벨트부분----------*/
.work_belt_wrap{width:6000px; margin:100px 0px; transform: translateX(-20%);}

.work_belt1{width:100%;}

.work_belt1 span{font-size:12rem; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.work_belt2{width:100%;}

.work_belt2 span{font-size:12rem; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.work_belt_line{margin:0px 40px;}



/*---------illust벨트부분----------*/
.illust_belt_wrap{width:6000px; margin:100px 0px; transform: translateX(-20%);}

.illust_belt1{width:100%;}

.illust_belt1 span{font-size:12rem; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.illust_belt2{width:100%;}

.illust_belt2 span{font-size:12rem; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.illust_belt_line{margin:0px 40px;}






/*----------work부분-------*/
.work{width:100%; height:100vh; align-items: center; display: flex; position: relative; opacity: 0; transition: 2s; transform: translateY(-10%);}

.work ul{width:100%; display:flex;}

.work li{height:800px;}

.work.show{opacity: 1; transform: translateY(0);}



/*-------------원모양텍스트---------*/
.work .circle_txt{width:800px; height:800px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); z-index: -1;}

.work .circle_txt img{width:100%; height:100%; animation: rot_txt 40s 0s linear infinite; transform-origin: 50% 50%;}

@keyframes rot_txt {
    100%{transform: rotate(360deg);}
}



/*--------텍스트-------*/
.work_txtwrap{width:40%; padding:30px 0px 0px 70px; box-sizing: border-box; position: relative; opacity: 0; transition: 2s; transform: translateY(-10%);}

.work_txtwrap.show{opacity: 1; transform: translateY(0%);}

.work_txtwrap h2{font-size:7rem; letter-spacing:4px; line-height:5rem; }

.work_txtwrap h2 span{font-size: 3.5rem;  font-style: normal; margin-left: 15px;}

.work_explan{width:500px; position: absolute; bottom:150px; line-height: 30px;}

.work_explan div{font-size: 1.2rem; color:whitesmoke;}

.work_explan p{max-width: 390px; font-size:1.02rem; color:whitesmoke; margin-top: 20px;}

.work_box{display:flex; gap:15px; margin-top:30px;}

.work_box div{width:85px; height:35px; line-height:35px; border:2px solid #616669; text-align: center; position: relative; overflow: hidden; font-size: 15px;}


.work_box div::before{content:""; width:100%; height:200%; background-color: #f3f0ee; position: absolute; left: 0px; top:40px; border-radius: 40%;}

.work_box div a{width:100%; height:100%; display:block;}


/*-----------목업---------*/
.work_mok{width:60%; opacity: 0; transition: 2s; transform: translateY(-10%); transition-delay: 0.5s; display: flex; align-items: center;}

.work_mok div{width:100%; }

.work_mok div img{width:100%; height:100%; object-fit: cover;}

.work_mok.show{opacity: 1; transform: translateY(0);}




/*-------------일러스트------------*/
#illust{width:100%; height:100vh; padding:70px 0px; box-sizing: border-box;}

#illust span{color:#f3f0ee; font-size: 4rem; font-weight:600;}

.illust_wrap{width:1190px; margin: auto;}

#illust ul{width:100%; display: flex; justify-content: space-between; gap:20px;  margin:50px auto; flex-wrap: wrap;}

#illust li{width:calc(100% / 3 - 20px); height:300px; cursor: pointer; margin-top: 10px;}

#illust li .imgBox{width:100%; height: 100%; object-fit: cover; position: relative; overflow: hidden;}

.imgBox::before{content: ""; width:100%; height: 100%; background-color: #0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; transition-delay: 0.4s; z-index: 2;}

.imgBox::after{content: ""; width:100%; height: 100%; background-color:#0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; z-index: 3;}

.imgBox.active::before{height: 0;}

.imgBox.active::after{height: 0;}

#illust li img{width: 100%; height:100%;}




/*----------자바스크립트 페이지--------*/
#javascript{width:100%; padding:50px 0px; margin-top:150px;}

#javascript .javascript_Wrap{width:1190px; margin: auto; }

.javascript_Wrap .title{color:#f3f0ee; font-size: 4rem; font-weight:550;}


.javascript_Wrap .javascript_Inner{width:100%; display: flex; gap:30px; margin-top:20px;}

.javascript_Inner .item{width:calc(100% / 2 - 15px); position: relative; transform: translateY(80px); transition: 0.8s; opacity: 0; overflow: hidden;}

.javascript_Inner .item.on{transform: translateY(0px); opacity: 1;}

.javascript_Inner .item .js_Img{width:100%;}

.javascript_Inner .item .js_Img img{width:100%;}

.javascript_Inner .item .item_Bg{width:100%; height:100%; position: absolute; background-color: rgba(0,0,0,0.5); left:0px; top:0px; margin-top:100%; transition: 0.6s;}

.javascript_Inner .item .item_Bg .js_TxtWrap{position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); text-align: center;}


.js_TxtWrap .js_Txt{font-size: 18px; color:#fff; max-width: 250px;}

.js_TxtWrap .item_Box{width:100px; height:30px; line-height: 30px; margin: auto; border:1.3px solid #fff; margin-top:15px; font-size: 15px;} 

.js_TxtWrap .item_Box a{width:100%; height:100%; display: block; position: relative; transition: 0.5s;}



.javascript_Inner .item:hover .item_Bg{margin-top:0px;}

.js_TxtWrap .item_Box a:hover{background-color: #b19912; }





/*----------------콘텍트-------------*/
#contact{width:100%; height:100vh; position:relative; color:#f3f0ee;}

.contact_txt1{width:100%; font-size: 12rem; font-weight:700; text-align: center; padding-top: 260px;}

#contact ul{width:100%; display: flex; position: absolute; bottom: 0px; justify-content: space-between; padding:0px 30px 10px; box-sizing: border-box;}

#contact ul li{font-size: 1.2rem; align-items: center;}

#contact ul li:nth-child(2){display:flex;}

#contact ul li:nth-child(3){display:flex; gap:25px;}




}