/*reset*/
*{margin:0px; padding:0px;}

ul{list-style:none;}

a{color:#f3f0ee; text-decoration: none;}

h2{color:#f3f0ee;}

h3{color:#f3f0ee;}

p{color:#f3f0ee;}

body{background-color: #0e1316; }





/*-------------모바일버전---------*/
@media(max-width:768px){

.progress {width:100vw; height: 100vh; background: #0e1316;; color: #fff; position: fixed; top: 0; left: 0; z-index: 1000; }

.progress_bar {border-top: 2px solid #fff;	position: absolute;	top: 50%; width: 0%;}

.progress_text {font-size: 28px; margin-top: 1%; position: absolute; text-align: center; top: 50%; width: 100%;}

.progress.on{top:-200%; transition: 0.5s; transition-delay: 2.5s;}


/* .progress_bar.on1{transition-delay: 3; border-top-color: #fff;} */

/* .progress_complete .progress-bar {border-top-color: #fff;} */





/*header*/
header{width:100%; height:90px; display: flex; justify-content: space-between; align-items: center; padding:10px 30px 10px 15px; box-sizing:border-box; position: fixed; z-index: 99;}

header ul{display:flex; gap:45px;}

header a{font-size:1.2rem;}




/*--------container---------*/
#container{width:100%; overflow: hidden;}

#container .home{width:100%; height:100vh;}

#container .home_txt{position:absolute; left:50vw; top:53vh; color:#f3f0ee; transform: translate(-50%, -50%);  z-index: 6; font-family: "Work Sans", sans-serif;}

#container .home h2:nth-child(1){font-size:12vw;}

#container .home h2:nth-child(2){font-size:15.5vw; margin:-1vh;}

#container .home h3{font-size:2.2vw;}



/*----------이미지----------*/

/*--------grow_img1--------*/
.grow_img1{position:absolute; left:30vw; top:40vh; transform: translate(-50%, -50%);}

.grow_img1 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden; transition: 0.5s;}

.grow_img1 div:nth-child(1){width:0vw; height:0vw; left:0vw; top:0vw; z-index: 5;}

.grow_img1 div:nth-child(2){width:0vw; height:0vw; left:23vw; top:17vw;  z-index: 4;}

.grow_img1 div:nth-child(3){width:0vw; height:0vw; left:42vw; top:6.5vw;  z-index: 3;}

.grow_img1 div:nth-child(4){width:0vw; height:0vw; left:31vw; top:-20vw;  z-index: 3;}


/*-----------제이쿼리 grow--------*/
.grow_img1 div:nth-child(1).grow{width:35vw; height:35vw;}

.grow_img1 div:nth-child(2).grow{width:28vw; height:33vw;}

.grow_img1 div:nth-child(3).grow{width:21vw; height:27vw;}

.grow_img1 div:nth-child(4).grow{width:15vw; height:18vw;}





.grow_img1 img{width:100%; height:100%;}

.grow_img1 img.on{transform: scale(1.2); transition: 2s;}




/*--------grow_img2--------*/
.grow_img2{ position:absolute; left:62vw; top:25vh; transform: translate(-50%, -50%);}

.grow_img2 div{ position:absolute; transform: translate(-50%, -50%); overflow: hidden; transition: 0.5s;}

.grow_img2 div:nth-child(1){width:0vw; height:0vw; left:9vw; top:15vw; z-index: 5;}

.grow_img2 div:nth-child(2){width:0vw; height:0vw; left:0vw; top:0vw;  z-index: 3;}

.grow_img2 div:nth-child(3){width:0vw;height:0vw; left:17vw; top:7vw;  z-index: 4;}


/*-----------제이쿼리 grow--------*/
.grow_img2 div:nth-child(1).grow{width:20vw; height:25vw;}

.grow_img2 div:nth-child(2).grow{width:20vw; height:22vw;}

.grow_img2 div:nth-child(3).grow{width:23vw; height:20vw;}



.grow_img2 img{width:100%; height:100%;}

.grow_img2 img.on{transform: scale(1.2); transition: 2s;}




/*--------grow_img3--------*/
.grow_img3{position:absolute; left:20vw; top:25vh; transform: translate(-50%, -50%); }

.grow_img3 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden; transition: 0.5s;}

.grow_img3 div:nth-child(1){width:0vw; height:0vw; left:9vw; top:13vw; z-index: 5;}

.grow_img3 div:nth-child(2){width:0vw; height:0vw; left:0vw; top:0vw;  z-index: 3;}

.grow_img3 div:nth-child(3){width:0vw; height:0vw; left:18vw; top:4vw;  z-index: 4;}


/*-----------제이쿼리 grow--------*/
.grow_img3 div:nth-child(1).grow{width:22vw; height:27vw;}

.grow_img3 div:nth-child(2).grow{width:23vw; height:27vw;}

.grow_img3 div:nth-child(3).grow{width:25vw; height:21vw;}


.grow_img3 img{width:100%; height:100%;}

.grow_img3 img.on{transform: scale(1.2); transition: 2s;}




/*--------grow_img4--------*/
.grow_img4{position:absolute; left:87vw; top:71vh; transform: translate(-50%, -50%);}

.grow_img4 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden; transition: 0.5s;}

.grow_img4 div:nth-child(1){width:0vw; height:0vw; left:-7vw; top:15vw; z-index: 5;}

.grow_img4 div:nth-child(2){width:0vw;height:0vw; left:-19vw; top:0vw;  z-index: 3;}



/*-----------제이쿼리 grow--------*/
.grow_img4 div:nth-child(1).grow{width:25vw; height:30vw;}

.grow_img4 div:nth-child(2).grow{width:26vw; height:30vw;}


.grow_img4 img{width:100%; height:100%;}

.grow_img4 img.on{transform: scale(1.2); transition: 2s;}





/*------------about부분------------*/

.about{width:90%; height:100%;  box-sizing: border-box; display: flex; align-items: center; margin: auto;} 

.about_wrap{width:100%; height: 100%; margin: auto; opacity: 0; transition: 1.8s;}

.about_wrap h2{font-size:7vw; text-align: center;}

.about_wrap.show{opacity: 1;}


/*-----about이미지부분----*/

.about_img{width:100%; transform: translateX(-100px); opacity: 0; transition:1.8s; margin: auto;}

.about_img.show{opacity: 1; transform: translateX(0px);}

.about_img div{width:50vw; height:50vw; background-color:#616669; margin: auto;}





/*-------about정보부분-------*/
.about_information{width:100%;  transform: translateX(100px); opacity: 0; transition: 1.8s; margin: auto; }

.about_information.show{opacity: 1; transform: translateX(0px);}

/* .about_information > div{width:calc(100% / 2); } */

.about_information h3{margin:50px 0px 20px;  font-size:2.3rem;}

.about_profile{width:100%; text-align: center;}

.about_profile p{line-height: 35px;}


.about_education{width:100%; text-align: center;}

.about_education > div{display:flex; margin:10px 0px; justify-content: center;}

.about_year{width:60px; height:25px; line-height: 25px; text-align: center; border:1px solid #616669; color:#f3f0ee;border-radius:20px; margin-right:5px;}



.about_license{width:100%; text-align: center;}

.about_license p{line-height:35px;}


.about_skill{width:100%; text-align: center;}

.about_skill ul{width:100%;  display:flex; gap:15px; flex-wrap: wrap; justify-content: center;}

.about_skill li{text-align: center;}

.about_skill li span{height:30px; line-height:30px; color:#f3f0ee; border:1px solid #f3f0ee; padding:0px 20px; border-radius:20px; display: inline-block;}



/*---------work벨트부분----------*/
.work_belt_wrap{width:4000px; margin:100px 0px; transform:translateX(-20%);}

.work_belt1{width:100%;}

.work_belt1 span{font-size:22vw; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.work_belt2{width:100%;}

.work_belt2 span{font-size:22vw; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.work_belt_line{margin:0px 40px;}






/*---------illust벨트부분----------*/
.illust_belt_wrap{width:4000px; margin:100px 0px; transform:translateX(-15%);}

.illust_belt1{width:100%;}

.illust_belt1 span{font-size:22vw; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.illust_belt2{width:100%;}

.illust_belt2 span{font-size:22vw; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.illust_belt_line{margin:0px 40px;}






/*----------work부분-------*/
.work{width:90%; height:115vw; align-items: center; display: flex; margin: auto; position: relative; padding:40px 0px; }

.work ul{width:100%; height:100%;}

/* .work.show{opacity:1;} */

/*-------------원모양텍스트---------*/
.work .circle_txt{width:90vw; height:90vw;position:absolute; left:49%; top:52%; transform:translate(-50%, -50%); z-index: -1;}

.work .circle_txt img{width:100%; height:100%; animation: rot_txt 40s 0s linear infinite; transform-origin: 50% 50%;}

@keyframes rot_txt {
    100%{transform: rotate(360deg);}
}



/*--------텍스트-------*/
.work_txtwrap{width:100%; text-align: center;}

.work_txtwrap h2{font-size:15vw; letter-spacing:4px; line-height:12vw; font-family: "Gabriela", serif; font-style: italic;}

/* .work_txtwrap h2 span{margin-left:40px;} */

.work_explan{width:100%; line-height: 5vw; margin-top:25px; }

.work_explan p{font-size:2.3vw; color:#616669; }

.work_box{display:flex; gap:15px; margin-top:30px; justify-content: center;}

.work_box div{width:12vw; height:5vw; line-height:5vw; border:2px solid #616669; text-align: center; }

.work_box div a{width:100%; height:100%; display:block; font-size: 2.3vw;}


/*-----------목업---------*/
.work_mok{width:100%; }

.work_mok div{width:100%; height:100%; overflow: hidden;}

.work_mok div img{width:100%; height:100%; object-fit: cover; scale: 1.2;}





/*-------------일러스트------------*/
#illust{width:90vw;  padding:70px 0px; box-sizing: border-box; margin: auto; text-align: center;} 

#illust span{color:#f3f0ee; font-size: 10vw; font-weight:600;}

.illust_wrap{width:100%; margin: auto;}

#illust ul{width:100%; display: flex; justify-content: space-between; gap:20px;  margin:30px auto; flex-wrap: wrap;}

#illust li{width:100%; height:300px; cursor: pointer; margin-top: 10px;}

#illust li .imgBox{width:100%; height: 100%; object-fit: cover; position: relative; overflow: hidden;}

.imgBox::before{content: ""; width:100%; height: 100%; background-color: #0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; transition-delay: 0.4s; z-index: 2;}

.imgBox::after{content: ""; width:100%; height: 100%; background-color:#0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; z-index: 3;}

.imgBox.active::before{height: 0;}

.imgBox.active::after{height: 0;}

#illust li img{width: 100%; height:100%;}








/*----------------콘텍트-------------*/
#contact{width:100%; height:700px; position:relative; color:#f3f0ee;}

.contact_txt1{width:100%; font-size: 15vw; font-weight:700; text-align: center; padding-top: 100px;}

#contact ul{width:100%; display: flex; position: absolute; bottom: 0px; justify-content: space-between; padding:0px 30px 10px; box-sizing: border-box;}

#contact ul li{font-size: 2.4vw; align-items: center;}

#contact ul li:nth-child(2){display:flex;}

#contact ul li:nth-child(3){display:flex; gap:25px;}



    
}









/*-----------테블릿버전---------*/
@media(min-width:760px) and (max-width:1200px){















}




/*--------------pc버전---------*/
@media(min-width:1200px){

.progress {width:100vw; height: 100vh; background: #0e1316;; color: #fff; position: fixed; top: 0; left: 0; z-index: 1000; }

.progress_bar {border-top: 2px solid #fff;	position: absolute;	top: 50%; width: 0%;}

.progress_text {font-size: 28px; margin-top: 1%; position: absolute; text-align: center; top: 50%; width: 100%;}

.progress.on{top:-200%; transition: 0.5s; transition-delay: 2.5s;}


/* .progress_bar.on1{transition-delay: 3; border-top-color: #fff;} */

/* .progress_complete .progress-bar {border-top-color: #fff;} */




/*-------------navi---------*/
/* #navi{position:absolute; top:50%; right:20px; position: fixed; transform: translateY(-50%); z-index: 99;}

#navi li{width:15px; height:40px; background-color: #616669; margin-bottom:10px; } */

/* #navi li:first-child{background-color:blue;} */

/* #navi li span{position:absolute; left:10px; display: none;}

#navi .on{background-color: blue;} */





/*header*/
header{width:100%; height:90px; display: flex; justify-content: space-between; align-items: center; padding:10px 30px 10px 15px; box-sizing:border-box; position: fixed; z-index: 99;}

header ul{display:flex; gap:45px;}

header a{font-size:1.2rem;}




/*--------container---------*/
#container{width:100%; overflow: hidden;}

#container .home{width:100%; height:100vh;}

#container .home_txt{position:absolute; left:5vw; bottom:20vh; color:#f3f0ee;  z-index: 6; font-family: "Work Sans", sans-serif;}

#container .home h2:nth-child(1){font-size:8.5rem;}

#container .home h2:nth-child(2){font-size:10.5rem; margin:-1vh;}



/*----------이미지----------*/

/*--------grow_img1--------*/
.grow_img1{position:absolute; left:40vw; top:40vh; transform: translate(-50%, -50%);}

.grow_img1 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img1 div:nth-child(1){width:380px; height:420px; left:0px; top:0px; z-index: 5;}

.grow_img1 div:nth-child(2){width:300px; height:360px; left:250px; top:250px;  z-index: 4;}

.grow_img1 div:nth-child(3){width:200px; height:280px; left:450px; top:130px;  z-index: 3;}

.grow_img1 div:nth-child(4){width:160px; height:200px; left:320px; top:-150px;  z-index: 3;}

.grow_img1 img{width:100%; height:100%;}

.grow_img1 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img2--------*/
.grow_img2{position:absolute; left:62vw; top:25vh; transform: translate(-50%, -50%); }

.grow_img2 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img2 div:nth-child(1){width:0px; height:0px; left:100px; top:150px; z-index: 5;}

.grow_img2 div:nth-child(2){width:0px; height:0px; left:0px; top:0px;  z-index: 3;}

.grow_img2 div:nth-child(3){width:0px; height:0px; left:170px; top:60px;  z-index: 4;}

.grow_img2 img{width:100%; height:100%;}

.grow_img2 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img3--------*/
.grow_img3{position:absolute; left:20vw; top:25vh; transform: translate(-50%, -50%); }

.grow_img3 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img3 div:nth-child(1){width:0px; height:0px; left:80px; top:130px; z-index: 5;}

.grow_img3 div:nth-child(2){width:0px; height:0px; left:0px; top:0px;  z-index: 3;}

.grow_img3 div:nth-child(3){width:0px; height:0px; left:170px; top:40px;  z-index: 4;}

.grow_img3 img{width:100%; height:100%;}

.grow_img3 img.on{transform: scale(1.2); transition: 2.3s;}




/*--------grow_img4--------*/
.grow_img4{position:absolute; left:96vw; bottom:35vh; transform: translate(-50%, -50%);}

.grow_img4 div{position:absolute; transform: translate(-50%, -50%); overflow: hidden;}

.grow_img4 div:nth-child(1){width:0px; height:0px; left:-70px; top:130px; z-index: 5;}

.grow_img4 div:nth-child(2){width:0px; height:0px; left:-170px; top:0px;  z-index: 3;}

.grow_img4 img{width:100%; height:100%;}

.grow_img4 img.on{transform: scale(1.2); transition: 2.3s;}




/*------------about부분------------*/

.about{width:100%; height:100vh;   box-sizing: border-box; display: flex; align-items: center;} 

.about_wrap{width:1190px; height: 720px; margin: auto; opacity: 0; transition: 1.8s;}

.about_wrap.show{opacity: 1;}


/*-----about이미지부분----*/
.about h2{font-size:3.5rem; margin-left:20px;}

.about_wrap_direct{display:flex; gap:40px;} 


.about_img{width:45%; transform: translateX(-100px); opacity: 0; transition:1.8s;}

.about_img.show{opacity: 1; transform: translateX(0px);}

.about_img div{width:500px; height:550px; background-color:#616669; margin:40px 0px 0px 20px ;}




/*-------about정보부분-------*/
.about_information{width:55%; display:flex; flex-wrap:wrap; transform: translateX(100px); opacity: 0; transition: 1.8s;}

.about_information.show{opacity: 1; transform: translateX(0px);}

/* .about_information > div{width:calc(100% / 2); } */

.about_information h3{margin:50px 0px 20px;  font-size:2.3rem;}

.about_profile{width:45%;}

.about_profile p{line-height: 35px;}


.about_education{width:55%;}

.about_education > div{display:flex; margin:10px 0px;}

.about_year{width:60px; height:25px; line-height: 25px; text-align: center; border:1px solid #616669; color:#f3f0ee;border-radius:20px; margin-right:5px;}



.about_license{width:45%;}

.about_license p{line-height:35px;}


.about_skill{width:55%;}

.about_skill ul{width:100%;  display:flex; gap:15px; flex-wrap: wrap;}

.about_skill li{text-align: center;}

.about_skill li span{height:30px; line-height:30px; color:#f3f0ee; border:1px solid #f3f0ee; padding:0px 20px; border-radius:20px; display: inline-block;}



/*---------work벨트부분----------*/
.work_belt_wrap{width:6000px; margin:100px 0px; transform: translateX(-20%);}

.work_belt1{width:100%;}

.work_belt1 span{font-size:12rem; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.work_belt2{width:100%;}

.work_belt2 span{font-size:12rem; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.work_belt_line{margin:0px 40px;}



/*---------illust벨트부분----------*/
.illust_belt_wrap{width:6000px; margin:100px 0px; transform: translateX(-20%);}

.illust_belt1{width:100%;}

.illust_belt1 span{font-size:12rem; font-weight: 650; color:#f3f0ee; font-family: "Golos Text", sans-serif; }

.illust_belt2{width:100%;}

.illust_belt2 span{font-size:12rem; font-weight: 650; color:transparent; -webkit-text-stroke: 2px #616669; font-family: "Golos Text", sans-serif; }

.illust_belt_line{margin:0px 40px;}






/*----------work부분-------*/
.work{width:100%; height:100vh; align-items: center; display: flex; position: relative; opacity: 0; transition: 2s; transform: translateY(-10%);}

.work ul{width:100%; display:flex;}

.work li{height:800px;}

.work.show{opacity: 1; transform: translateY(0);}



/*-------------원모양텍스트---------*/
.work .circle_txt{width:800px; height:800px; position:absolute; left:50%; top:52%; transform:translate(-50%, -50%); z-index: -1;}

.work .circle_txt img{width:100%; height:100%; animation: rot_txt 40s 0s linear infinite; transform-origin: 50% 50%;}

@keyframes rot_txt {
    100%{transform: rotate(360deg);}
}



/*--------텍스트-------*/
.work_txtwrap{width:40%; padding:30px 0px 0px 70px; box-sizing: border-box; position: relative; opacity: 0; transition: 2s; transform: translateY(-10%);}

.work_txtwrap.show{opacity: 1; transform: translateY(0%);}

.work_txtwrap h2{font-size:7rem; letter-spacing:4px; line-height:7rem; font-family: "Gabriela", serif; font-style: italic;}

/* .work_txtwrap h2 span{margin-left:40px;} */

.work_explan{width:500px; position: absolute; bottom:100px; line-height: 55px;}

.work_explan p{font-size:1.5rem; color:#616669; }

.work_box{display:flex; gap:15px; margin-top:30px;}

.work_box div{width:90px; height:35px; line-height:35px; border:2px solid #616669; text-align: center; position: relative; overflow: hidden;}


.work_box div::before{content:""; width:100%; height:200%; background-color: #f3f0ee; position: absolute; left: 0px; top:40px; border-radius: 40%;}

.work_box div a{width:100%; height:100%; display:block;}


/*-----------목업---------*/
.work_mok{width:60%; opacity: 0; transition: 2s; transform: translateY(-10%); transition-delay: 0.5s;}

.work_mok div{width:100%; height:100%;}

.work_mok div img{width:100%; height:100%; object-fit: cover;}

.work_mok.show{opacity: 1; transform: translateY(0);}




/*-------------일러스트------------*/
#illust{width:100%; height:100vh; padding:70px 0px; box-sizing: border-box;}

#illust span{color:#f3f0ee; font-size: 4rem; font-weight:600;}

.illust_wrap{width:1190px; margin: auto;}

#illust ul{width:100%; display: flex; justify-content: space-between; gap:20px;  margin:50px auto; flex-wrap: wrap;}

#illust li{width:calc(100% / 3 - 20px); height:300px; cursor: pointer; margin-top: 10px;}

#illust li .imgBox{width:100%; height: 100%; object-fit: cover; position: relative; overflow: hidden;}

.imgBox::before{content: ""; width:100%; height: 100%; background-color: #0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; transition-delay: 0.4s; z-index: 2;}

.imgBox::after{content: ""; width:100%; height: 100%; background-color:#0e1316; position: absolute; left: 0px; top:0px; transition: 0.7s; z-index: 3;}

.imgBox.active::before{height: 0;}

.imgBox.active::after{height: 0;}

#illust li img{width: 100%; height:100%;}




/*----------------콘텍트-------------*/
#contact{width:100%; height:100vh; position:relative; color:#f3f0ee;}

.contact_txt1{width:100%; font-size: 13rem; font-weight:700; text-align: center; padding-top: 100px;}

#contact ul{width:100%; display: flex; position: absolute; bottom: 0px; justify-content: space-between; padding:0px 30px 10px; box-sizing: border-box;}

#contact ul li{font-size: 1.2rem; align-items: center;}

#contact ul li:nth-child(2){display:flex;}

#contact ul li:nth-child(3){display:flex; gap:25px;}




}